extends layout

block content
  h1= title
  form(id='GunForm', action="/resource/Gun", method="POST")
    div.form-group-create
      label.GunAttr(for='name') Gun name
      input#Gunname(type='text', name='name')
    div.form-group-create
      label.GunAttr(for='price') Gun price 
      input#Gunprice(type='number', name='price')
    div.form-group-create
      label.GunAttr(for='version') Gun version
      input#Gunversion(type='number', name='version')
    input(type="submit")
    script.
      document.forms['GunForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded")
          // TODO handle the body
        }).catch((error) => {
          // TODO handle the error
          alert("Save failed " + error )
        });
      });