extends layout

block content
  h1= title
  - let name = toShow.name
  - let price = toShow.price
  - let version = toShow.version
  

  div
    div.row
      div(class='GunAttr mr-3') Gun name is:
      div #{Gun_name}
    div.row
      div(class='GunAttr mr-3') Gun price is:
      div #{Gun_price}
    div.row
      div(class='GunAttr mr-3') Gun version is:
      div #{Gun_version}
    div.row
     
