extends layout

block content
  h1=title
  p Welcome to #{title} 
  p How do you do?
  button(type="button", class="btn btn-secondary", onclick="goFaster()") Press me 
  
  div#faster Increase the speed 
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`; 
    }
    
   br
  a(href='http://localhost:3000/Gun') Click Here to Visit Gun Website

